{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #ebe3e4;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This blog is made for the AASTU Cmmunity to facilitate the flow of information between different sectors of the university. It was made by one of our cmputer Engineering student as a project.</p>
        <a href="#"
           class="btn btn-danger">Explore more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}